@import "tailwindcss";
@import "./styles/typography.css";
@import "./styles/datepicker.css";

@theme {
   /* All custom tokens go here */
   --color-midnight: #F54927;
}

:root {
  font-family: "GT America Trial", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light; 
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "GT America Trial", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}

